<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PakkuDon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="dist/css/style.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <body ng-app="Portfolio">
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
            </ul>
        </nav>
        <div id="home" class="fill-screen align-center text-center">
            <div class="container">
                <h1 class="name">PakkuDon</h1>
                <h2 class="subheading">Aspiring full-stack developer</h2>
                <hr />
                <div class="profiles">
                    <a href="https://github.com/PakkuDon" title="GitHub" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="http://codepen.io/PakkuDon/" title="CodePen" target="_blank">
                        <i class="fa fa-codepen" aria-hidden="true"></i>
                    </a>
                    <a href="http://stackoverflow.com/users/2580649/pakkudon" title="Stack Overflow" target="_blank">
                        <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                    </a>
                    <a href="https://freecodecamp.com/PakkuDon" title="Free Code Camp" target="_blank">
                        <i class="fa fa-fire" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="about" ng-controller="SkillsetController as skillCtrl">
            <div class="container">
                <h1 class="title text-center">About</h1>
                <section>
                    <h2>Languages</h2>
                    <div class="tag-list" ng-repeat="skillGroup in skillCtrl.getLanguages()">
                        <h3>{{ skillGroup.level }}: </h3>
                        <div class="tag" ng-repeat="language in skillGroup.items">{{ language }}</div>
                    </div>
                </section>
                <section>
                    <h2>Frameworks / Libraries</h2>
                    <div class="tag-list" ng-repeat="skillGroup in skillCtrl.getFrameworks()">
                        <h3>{{ skillGroup.level }}: </h3>
                        <div class="tag" ng-repeat="framework in skillGroup.items">{{ framework }}</div>
                    </div>
                </section>
                <section>
                    <h2>Tools</h2>
                    <div class="tag-list">
                        <div class="tag" ng-repeat="tool in skillCtrl.getTools()">{{ tool }}</div>
                    </div>
                </section>
                <section>
                    <h2>Misc.</h2>
                    <div class="tag-list">
                        <div class="tag" ng-repeat="item in skillCtrl.getGeneralSkills()">{{ item }}</div>
                    </div>
                </section>
            </div>
        </div>
        <div id="projects" class="">
            <div class="container">
                <h1 class="title text-center">Projects</h1>
                <div class="project">
                    <div class="thumbnail">
                        <img src="http://placehold.it/350x150" />
                    </div>
                    <div class="details">
                        <div class="name">Test Project</div>
                        <div class="description">Description for test project</div>
                    </div>
                </div>
                <div class="project">
                    <div class="thumbnail">
                        <img src="http://placehold.it/350x150" />
                    </div>
                    <div class="details">
                        <div class="name">Test Project 2</div>
                        <div class="description">Description for test project 2</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="dist/js/vendor.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/SkillsetController.js"></script>
    </body>
</html>