<div class="project-stub">
  <div class="thumbnail">
    <img />
  </div>
  <div class="name"></div>
  <div class="links">
    <a class="tag" title="Demo" target="_blank">
      <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>
    <a class="tag" title="Code" target="_blank">
      <i class="fa fa-code" aria-hidden="true"></i>
    </a>
  </div>
</div>
