<div class="project-stub">
  <div class="thumbnail">
    <img style="background-image: url('{{ project.image_set.[0] }}')" />
  </div>
  <div class="name">{{ project.name }}</div>
  <div class="links">
    {{#each project.links}}
    <a class="tag" title="{{ title }}" target="_blank" href="{{ url }}">
      <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>
    {{/each}}
  </div>
</div>
