#home {
  background-color: transparent;
  color: lighten($grey, 40%);
  height: 600px;
  height: 90vh;
  margin-top: 0;

  a {
    color: lighten($grey, 40%);
    transition: 0.5s;

    &:hover,
    &:active,
    &:focus {
      color: $accent;
    }
  }

  .fa {
    font-size: 3.5em;
    margin: 10px 25px;
  }

  hr {
    border: 1px solid #FFF;
  }

  .name {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
  }

  .container {
    animation: slideRight ease-in 1s;
  }
}

.profiles {
  margin: 10px;
  padding: 20px;
}

@media (max-width: 480px) {
  #home {
    .name {
      font-size: 3em;
    }

    .subheading {
      font-size: 1.75em;
    }
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
