.project-stub {
  margin: 1%;
  border: 1px solid lighten($grey, 40%);
  padding: 5px;

  .project-thumbnail {
    height: 250px;
    border: 1px solid transparent;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      border: 1px solid $accent;
    }
  }

  .name {
    text-align: center;
    font-weight: bold;
    padding: 5px 0px;
    color: darken($accent, 20%);
    margin: 0.5em;
  }

  .links {
    padding: 5px;
    background-color: lighten($grey, 40%);
    text-align: right;
  }
}

@media (min-width: 960px) {
  .project-thumbnail,
  .details {
    display: inline-block;
    vertical-align: top;
  }

  .project-thumbnail {
    width: 30%;
  }

  .details {
    width: 65%;
  }
}
