/* Global */
html {
  box-sizing: border-box;
}

html *,
html *:before,
html *:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin-bottom: 40px;
  background-color: #1a334d;
  background-image:
    url('./../images/bg-park-dim.jpg'),
    linear-gradient(#1a334d, #369);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.container {
  margin: auto;
  width: 80%;
}

.title {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.subheading {
  font-size: 2em;
}

section {
  margin-bottom: 5em;
  padding: 2em 1em;
  background-color: #FFF;
}

section .title {
  font-size: 1.75em;
}

@media (max-width: 720px) {
  .container {
    margin: auto;
    width: auto;
  }

  section {
    padding: 1em;
  }
}

@keyframes fadeIn {
  from {
    top: -10px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

/* components/home */
#home {
  background-color: transparent;
  color: #eee;
  height: 600px;
  height: 90vh;
  margin-top: 0;
}

#home a {
  color: #eee;
  transition: 0.2s;
}

#home a:hover,
#home a:active,
#home a:focus {
  color: #69C;
}

#home hr {
  border: 1px solid #FFF;
}

#home .name {
  font-family: 'Lato', sans-serif;
  font-size: 4em;
}

#home .container {
  animation: slideRight ease-in 1s;
}

.profiles {
  margin: 10px;
  padding: 20px;
}

.profiles a {
  font-size: 3.5em;
  margin: 10px 25px;
}

@media (max-width: 480px) {
  #home .name {
    font-size: 3em;
  }

  #home .subheading {
    font-size: 1.75em;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* components/lightbox */
.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  text-align: center;
  display: none;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.lightbox .content {
  display: flex;
  height: 100%;
  margin: 0.5em 2em;
}

.lightbox .content .image-container {
  flex: 1;
  align-self: center;
}

.lightbox .content .image-container img {
  max-width: 100%;
  max-height: 80vh;
  display: none;
  margin: auto;
}

.lightbox .content .image-container img.active {
  display: block;
}

.lightbox button {
  color: #FFF;
  opacity: 0.5;
  background-color: transparent;
  border: transparent;
  font-size: 2em;
  padding: 1em;
  vertical-align: top;
  transition: 0.2s;
}

.lightbox button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

.lightbox.visible {
  display: block;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  border-radius: 100%;
}

/* components/project-stub */
.project-stub {
  margin: 1%;
  border: 1px solid #eee;
  padding: 5px;
}

.project-stub .project-thumbnail {
  height: 250px;
  border: 1px solid transparent;
}

.project-stub .project-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-stub .project-thumbnail:hover {
  border: 1px solid #69C;
}

.project-stub .name {
  text-align: center;
  font-weight: bold;
  padding: 5px 0px;
  color: #369;
  margin: 0.5em;
}

.project-stub .links {
  padding: 5px;
  background-color: #eee;
  text-align: right;
}

@media (min-width: 960px) {
  .project-thumbnail,
  .details {
    display: inline-block;
    vertical-align: top;
  }

  .project-thumbnail {
    width: 30%;
  }

  .details {
    width: 65%;
  }
}

/* components/tag */
.tag-list h3 {
  text-transform: capitalize;
}

.tag {
  background-color: #369;
  color: #FFF;
  border: transparent;
  border-radius: 0.5em;
  padding: 5px 10px;
  margin: 0.2em 0.1em;
  display: inline-block;
  text-decoration: none;
  transition: 0.2s;
}

.tag:hover,
.tag:active,
.tag:focus {
  background-color: #69C;
}

/* components/navbar */
nav {
  background-color: transparent;
  color: #eee;
  position: absolute;
  width: 100%;
  text-align: right;
  z-index: 10;
  top: 0;
  transition: 0.2s;
}

nav a {
  color: #eee;
  display: block;
  transition: 0.2s;
}

nav a:hover,
nav a:active,
nav a:focus {
  color: #69C;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
}

nav.fixed {
  background-color: #000;
  position: fixed;
}

#toggle-navbar,
label[for='toggle-navbar'] {
  display: none;
}

@media (max-width: 480px) {
  label[for='toggle-navbar'] {
    display: block;
    padding: 10px 20px;
  }

  nav {
    background-color: #000;
  }

  nav #toggle-navbar:checked ~ ul li {
    display: block;
  }

  nav #toggle-navbar ~ ul li {
    display: none;
  }
}

