.carousel {
    width: 100%;
    padding: 10px 15px;
    background-color: $grey;
    border-radius: 0.5em;
    height: 400px;
}

div.rn-carousel-indicator {
    span {
        color: darken($grey, 40%);
        &.active {
            color: $blue;
        }
    }
}