.project-stub {
    width: 30%;
    margin: 1%;
    border: 1px solid lighten($grey, 40%);
    padding: 5px;
    display: inline-block;

    &:hover {
        border: 1px solid $blue;

        .name {
            color: $blue;
        }
    }
    
    .thumbnail {
        height: 250px;
        border-bottom: 1px solid #000;

        img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
    }
    
    .name {
        text-align: center;
        font-weight: bold;
        padding: 5px 0px;
        color: darken($blue, 20%);
        height: 55px;
    }
    
    .links {
        padding: 5px;
        background-color: lighten($grey, 40%);
        text-align: right;
    }
}

@media screen and (max-width: 768px) {
    .project-stub {
        width: 47%;
    }
}

@media screen and (max-width: 480px) {
    .project-stub {
        width: 100%;
    }
}