.tag-list {
    margin: 2% 0%;
}

.tag {
    background-color: darken($blue, 20%);
    color: $white;
    border: transparent;
    border-radius: 0.5em;
    padding: 5px 10px;
    margin-right: 2px;
    display: inline-block;
    text-decoration: none;
    
    &:hover {
        background-color: $blue;
    }
}