<nav>
    <label for="toggle-navbar">Menu</label>
    <input id="toggle-navbar" type="checkbox" />
    <!-- Render nav contents based on current route -->
    <ul ng-if="navCtrl.path == '/'">
        <li><a ng-click="navCtrl.scrollTo('#home')">Home</a></li>
        <li><a ng-click="navCtrl.scrollTo('#about')">About</a></li>
        <li><a ng-click="navCtrl.scrollTo('#projects')">Projects</a></li>
    </ul>
    <ul ng-if="navCtrl.path.indexOf('/project/') >= 0">
        <li><a href='./#/'>Home</a></li>
        <li><a ng-click="navCtrl.scrollTo('#details')">Project details</a></li>
    </ul>
</nav>