<section id="details">
    {{ project = projectCtrl.getProject(); '' }}
    <div class="container">
        <header class="text-center">
            <h1 class="title" ng-bind="project.name"></h1>
            <p ng-bind="project.company"></p>
            <em>{{ project.categories.join(', ') }}</em>
            <carousel images="project.image_set"></carousel>
            <div>
                {{ project.company }}
            </div>
            <div>
                <time>{{ project.start_date }} - {{ project.end_date }}</time>
            </div>
        </header>
        <summary>
            <h2>
                Description
            </h2>
            {{ project.description }}
            <ul>
                <li ng-repeat="note in project.notes">{{ note }}</li>
            </ul>
            <div class="tag-list">
                <div class="tag" ng-repeat="tag in project.tags" ng-bind="tag"></div>
            </div>
        </summary>
        <footer>
            <a class="tag" target="_blank" ng-href="{{ project.website }}" ng-show="project.website">
                <i class="fa fa-external-link" aria-hidden="true"></i> View website
            </a>
            <a class="tag" target="_blank" ng-href="{{ project.source_code }}" ng-show="project.source_code">
                <i class="fa fa-code" aria-hidden="true"></i> Source code
            </a>
        </footer>
    </div>
</section>