<div class="project-stub">
    <a ng-href="#/project/{{ projectStubCtrl.project.id }}">
        <div class="thumbnail">
            <img ng-style="{ 'background-image': 'url(\'{{ projectStubCtrl.project.image_set[0] }}\')' }" />
        </div>
        <div class="name" ng-bind="projectStubCtrl.project.name"></div>
    </a>
    <div class="links">
        <a class="tag" title="Demo" target="_blank" 
            ng-href="{{ projectStubCtrl.project.website }}" 
            ng-show="projectStubCtrl.project.website">
            <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
        <a class="tag" title="Code" target="_blank" 
            ng-href="{{ projectStubCtrl.project.source_code }}" 
            ng-show="projectStubCtrl.project.source_code">
            <i class="fa fa-code" aria-hidden="true"></i>
        </a>
    </div>
</div>